body{
    background-color:#4f308f;
    background-image: url(https://captainbinary.com/build/assets/gradient-desktop-b03ebaa2.webp);
}

.logoImg{
    width:200px;
    height: 100px;
    margin-left: 40px;
}

.box {
    display: flex; /* Uses flexbox for inline display */
    align-items: center; /* Vertically centers the items */
    border: 1px solid #ccc; /* Adds a border around the box */
    width: 25%;
    height: auto;
}

.box h1 {
   
    font-size: 2em;
}

.whiteColor{
    color:white;
}
.perpel{
    color:#825ee4;
}
.box img {
    width: 60px; /* Sets a fixed width for the image */
    height: auto;
}

.footerBackground{
    width:100%;
    height:200px;
    background-color: #150634;
   
}
